.background{
    background-image: url(img/activity/bg.png);
    background-size: 100%;
    background-attachment: fixed;
    height: 3000px;
}


.content{
    background-color: rgb(231, 231, 231);
    position: absolute;
    top: 500px;
    left: 350px;
    border-radius: 20px;
    box-shadow: 10px 15px 5px gray;
    height: 2350px;
    width: 1015px;
}

.first-pic{
    margin-top: 80px;
}

.act-box{
    margin-left:105px ;
}
.act-box img{
    width: 800px;
    border-radius: 15px;

}
/*行事曆*/
.APRtable{
    position: absolute;
    top: 330px;
    left: 155px;
}
.MAYtable{
    position: absolute;
    top: 1064px;
    left: 155px;
}
.JUNEtable{
    position: absolute;
    top: 1798px;
    left: 155px;
}

table {
    width: 695px;
    height: 446px;
    table-layout:fixed;
    /*overflow:hidden;*/
    vertical-align: text-top;
}
table,td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
}
td {
    height: 20%;
}

/*彈出視窗*/
.info{
    width: 95px;
    height: 70px;
    -webkit-transition: width 0.5s;
    z-index: 1000;
    opacity: 0;
    transition: transform .2s;
    position: relative;
}
.info:hover{
    opacity: 1;
    transform: scale(2.2);
}

@media screen and (max-width:1440px){
.content{
  
    top: 400px;
    left: 225px;
    width: 1000px;
}
